<!-- Left side column. contains the sidebar -->
<aside class="main-sidebar">
   <!-- sidebar -->
   <div class="sidebar">
      <!-- sidebar menu -->
      <ul class="sidebar-menu">
         <li class="treeview">
            <a href="/dashboard"><i class="fa fa-tachometer"></i><span>Dashboard</span>
               <span class="pull-right-container">
               </span>
            </a>
         </li>
         <% if (req.session.userCan.includes("ABM_Stock")) {%>
            <li class="treeview">
               <a href="javascript:;" class="<%= req.originalUrl.includes('/stock')? 'active' : '' %>">
                  <i class="fa fa-exchange"></i>
                  <span>ABM Stock</span>
                  <span class="pull-right-container"><i class="fa fa-angle-left float-right"></i></span>
               </a>
               <ul class="treeview-menu">
                  <li class="<%= req.originalUrl === '/stock/list' ? 'active' : '' %>" ><a  href="/stock/list">Stock Cantidades</a></li>       
                  <li class="<%= req.originalUrl === '/stock/in' ? 'active' : '' %>" ><a  href="/stock/in">Listado Entradas</a></li>       
                  <li class="<%= req.originalUrl === '/stock/out' ? 'active' : '' %>" ><a  href="/stock/out">Listado Salidas</a></li>       
               </ul>
            </li>
         <% } %>
         <% if (req.session.userCan.includes("Inventarios")) {%>
         <li class="treeview">
            <a href="javascript:;" class="<%= req.originalUrl.includes('/inventory')? 'active' : '' %>">
               <i class="fa fa-list-ol"></i>
               <span>Inventarios</span>
               <span class="pull-right-container"><i class="fa fa-angle-left float-right"></i></span>
            </a>
            <ul class="treeview-menu">
               <li class="<%= req.originalUrl === '/inventory/desktop' ? 'active' : '' %>" ><a  href="/inventory/desktop">Desktops</a></li>       
               <li class="<%= req.originalUrl === '/inventory/laptop' ? 'active' : '' %>" ><a  href="/inventory/laptop">Notebooks</a></li>       
               <li class="<%= req.originalUrl === '/inventory/server' ? 'active' : '' %>" ><a  href="/inventory/server">Servidores</a></li>       
            </ul>
         </li>
         <% } %>
         <li class="treeview">
            <a href="javascript:;" class="<%= req.originalUrl.includes('/products')? 'active' : '' %>">
               <i class="fa fa-laptop"></i>
               <span>Productos</span>
               <span class="pull-right-container"><i class="fa fa-angle-left float-right"></i></span>
            </a>
            <ul class="treeview-menu">
               <% if (req.session.userCan.includes("ABM_Productos")) {%>
               <li class="<%= req.originalUrl === '/products/items' ? 'active' : '' %>" ><a  href="/products/items">Productos</a></li>
               <% } if (req.session.userCan.includes("ABM_Categorias")) { %>       
               <li class="<%= req.originalUrl === '/products/categories' ? 'active' : '' %>" ><a  href="/products/categories">Categorías</a></li>
               <% } %>             
            </ul>
         </li>
         <% if (req.session.userCan.includes("sistema_administrar")) { %>
            <li class="treeview">
                  <a href="javascript:;" class="<%= req.originalUrl.includes('/users') || req.originalUrl.includes('/roles') || req.originalUrl.includes('/permissions')? 'active' : '' %>">
                     <i class="fa fa-male"></i>
                     <span>Usuarios</span>
                     <span class="pull-right-container"><i class="fa fa-angle-left float-right"></i></span>
                  </a>
                  <ul class="treeview-menu">
                     <% if (req.session.userCan.includes("ABM_Usuarios")) { %>
                     <li class="<%= req.originalUrl === '/users/list' ? 'active' : '' %>" ><a  href="/users/list">Usuarios</a></li>
                     <% } %>
                     <% if (req.session.userCan.includes("Roles_Permisos")) { %>
                        <li class="<%= req.originalUrl.includes('/roles') ? 'active' : '' %>" ><a  href="/roles/list">Roles</a></li>
                        <li class="<%= req.originalUrl.includes('/permissions') ? 'active' : '' %>"><a  href="/permissions/list">Permisos</a></i></li>
                     <% } %>                    
                  </ul>
            </li>
         <% } %>
      </ul>
   </div>
   <!-- /.sidebar -->
</aside>