<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Control de Stock</title>

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="/img/favicon.png">
    <!-- Bootstrap -->
    <link href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Pe-icon-7-stroke -->
    <link href="/assets/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" />
    <!-- style css -->
    <link href="/assets/dist/css/stylecrm.css" rel="stylesheet" />
  </head>
  <body>
    <!-- Content Wrapper -->
    <div class="login-wrapper">
      <div class="container-center">
        <div class="login-area">
          <div class="card panel-custom">
            <div class="card-heading custom_head">
              <div class="view-header">
                <div class="header-icon">
                  <i class="pe-7s-refresh-2"></i>
                </div>
                <div class="header-title">
                  <h3>Resetear contraseña</h3>
                  <small><strong>Complete los datos para resetear su contraseña</strong></small>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form action="/users/reset" method="POST" id="form" novalidate>
                <% if (locals.errors && errors.resetPass) { %>
                <p class="feedback"><%= errors.resetPass.msg %></p>
                <% } %>
                <div class="main-forms-container">
                  <div class="form-group">
                    <label class="control-label" for="username">Usuario</label>
                    <input type="text" name="user" placeholder="Ingrese su Usuario" class="form-control" id="user" value="<%= locals.old && old.user %>" />
                    <% if (locals.errors && errors.user) { %>
                    <p class="feedback"><%= errors.user.msg %></p>
                    <% } %>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="password">Ingrese una nueva contraseña</label>
                    <input
                      type="password"
                      name="password"
                      placeholder=""
                      class="form-control popovers"
                      id="password"
                      data-original-title="Atención"
                      data-content="La contraseña debe tener entre 8 y 15 caracteres y debe incluir al menos una minúscula, una mayúscula, un número y un caracter especial"
                      data-placement="right"
                      data-trigger="hover"
                    />

                    <% if (locals.errors && errors.password) { %>
                    <p class="feedback"><%= errors.password.msg %></p>
                    <% } %>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="password1">Confirme la nueva contraseña</label>
                    <input
                      type="password"
                      name="password1"
                      placeholder=""
                      class="form-control popovers"
                      id="password"
                      data-original-title="Atención"
                      data-content="La contraseña debe tener entre 8 y 15 caracteres y debe incluir al menos una minúscula, una mayúscula, un número y un caracter especial"
                      data-placement="right"
                      data-trigger="hover"
                    />

                    <% if (locals.errors && errors.password) { %>
                    <p class="feedback"><%= errors.password.msg %></p>
                    <% } %>
                  </div>
                </div>
                <div>
                  <button type="submit" class="btn green_btn">Login</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.content-wrapper -->
    <!-- jQuery -->
    <script src="/assets/plugins/jQuery/jquery-1.12.4.min.js"></script>
    <!-- Bootstrap poper -->
    <script src="/assets/bootstrap/js/popper.min.js"></script>
    <!-- Bootstrap -->
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>

    <script>
      //    tool tips
      $(".tooltips").tooltip();
      //    popovers
      $(".popovers").popover();
    </script>
  </body>
</html>
